

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 80px;
}

.headline {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}

.bajada {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 10px;
}

.headline b {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1020px;
    gap: 30px;
    margin-bottom: 100px;
}

.book-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.book-background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.book-pages {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 75%;
  height: 70%;
  display: flex;
  margin: -5vh 8vw;

}

.book-page {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-left: 4vw;
}


.catalogo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 190px));
    gap: 5px 13px;
    grid-auto-rows: 438px;
    align-items: flex-end;
    max-width: 50vw;
}

.personaje-container {
    width: 100px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.superpuesto {
    position: relative;
}

.personaje {
    position: absolute;
    z-index: 1;
    width: 32vw;
    height: 28vh;
}

.casa {
    position: absolute;
    top: 9.2vh;
    left: 1.5vw;
    width: 70px;   
    height: 70px;
    z-index: 2;
}

.sombrero {
    position: absolute;
    top: 1.2vh;
    left: 2.55vw;
    width: 2.5vw;   
    z-index: 2;
}

.libros {
    position: static; 
    margin-bottom: 0;   
    margin-right: -85px; 
    left: auto;
    top: auto;
    width: 3vw;
}

.gato {
    position: absolute;
    top: 21vh;
    left: 0px;
    z-index: 0;
    width: 6vw;
}

.phoenix {
    position: absolute;
    top: 0;
    left: 4.5vw;
    z-index: 0;
    width: 160px;
    height: 160px;
}

.lechuza {
    position: absolute;
    top: 3.5vh;
    left: 5vw;
    transform: scaleX(-1); 
    z-index: 0;
    width: 60px;
}

.rata {
    position: absolute;
    top: 6.7vh;
    left: 4vw;
    z-index: 0;
    width: 30px;
}

.sapo {
    position: absolute;
    top: 7.7vh;
    left: 4.2vw;
    z-index: 0;
    width: 30px;
    transform: rotate(25deg);
}

.nombre-personaje {
    text-align: center;
    padding: 0 80px 0 0;
    font-size: 12px;
    font-weight: bold;
}

.codificacion-container {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.categoria-texto {
    text-align: center;
    font-weight: semi-bold;
    font-size: 14px;
}

.cod-fila {
    display: flex;
    flex-direction: row;
    gap: 7vw;
    align-items: flex-end;
    justify-content: center;
}

.cod-protagonismo-img {
    display: flex; 
    align-items: flex-end;
    gap: 10px;
}

.cod {
    display: flex; 
    flex-direction: column;
}

.cod-mascotas-img {
    display: flex; 
    align-items: flex-end;
}

.person {
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: pink;
}

.nombre {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-top: 8px;
}

.deporte {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.referencias {
    margin-top: 50px;
    margin-bottom: 20px;
}

